{% extends "base.html" %}

{% block content %}

<div class="centered">
    <h1>What is dontwait?</h1>
    <p>dontwait is a community-powered solution to planning tennis matches</p>
    <p>We aim to alleviate the frustration of waiting hours to get a court</p>
    <p>players can let others know that they have claimed a court anonymously and efficently</p>
</div>

<style>
    .centered{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

{% endblock %}