{% extends "base.html" %}
{% load static %}


{% block content %}


        <div class="container-fluid page">



                <div id="user-input">

                    <div class="row justify-content-center" style="padding: 20%;">

                        {% if not court.occupied %}
                    
                        <h1>Are you playing at {{court.name}}?</h1>
                
                        <div class="row justify-content-center">
                            <input id="time" type="number" max="{{ court.maxtime }}" value="60">
                        </div>

                        <div class="row justify-content-center">
                            <button id="book-button">Confirm!</button>
                        </div>
                
                        {% else %}

                        <h1>Whoops, this court is already in play!</h1>
                        <div class="row justify-content-center">
                            <a>Find an empty one</a>
                        </div>
                        {% endif %}
        
                    </div>

                </div>

        </div>




        <div id="success">
            <div class="row justify-content-center" style="padding: 20%;">

                <h1>Thanks for your input! 😊</h1>

            </div>

            <div class="row justify-content-center">
                <a>What's dontwait?</a>
            </div>

        </div>










    <script>
    
        const http = new XMLHttpRequest();
        const url = window.location.origin + "{% url 'cclaim_api' court.slug %}";
        console.log(url);


        $('#book-button').click(function(){

            const time = $("#time").val()

            $.post(url,
                {
                    "time":time
                },
                function(data, status, xhr) {
                    console.log(status)
                    console.log(data.status)

                    if(data.status == 200){
                        $("#user-input").replaceWith($("#success"))
                        $("#success").show()
                    }

                }
            )

        });




    </script>


    <style>

        #success{
            display: none;
        }



    </style>


{% endblock %}