{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="centered">
    <h1 class="no-space">{{ court.name }}</h1>
    <a href=" http://maps.google.com/?q={{court.adress}}" class="underline" target="_blank"><h3>Directions</h3></a>

    {% if court.occupied %}
        <h2 id="time-left"></h2>
        <h3 id="">Booked until: <span id="date-left">{{ court.booked }}</span></h3>

        <script>

            var timestamp = parseInt("{{ court.get_unix }}")*1000; //Time in miliseconds
            var booked_time = new Date(timestamp);
    
            var local_date = new Date(booked_time.getTime());
            $("#date-left").text(local_date.toLocaleString());
    
            var x = setInterval(function() {
    
                var now = new Date().getTime();
                var countdown = parseInt((booked_time - now)/1000);
    
                //console.log(countdown)
                if(countdown < 1){
                    $("#time-left").text("Not Currently in Play 🙌")
                    $("#date-left").text("")
                    //console.log("done!")
                    clearInterval(x)
                }
    
    
                var minutes = Math.floor(countdown/60);
                countdown -= minutes*60;
                var seconds = Math.floor(countdown)
                
                if(seconds < 10){
                    seconds = "0"+String(seconds);
                }
    
                if(minutes < 10){
                    minutes = "0"+String(minutes);
    
                }
    
                $("#time-left").text(String(minutes)+" : "+String(seconds))    
    
            }, 1000)
    
        </script>

    {% else %}
        <h2>Not Currently in Play 🙌</h2>
    {% endif %}

    <a href="{% url 'about' %}" class="underline"><small>What's dontwait?</small></a>

</div>


<style>

    @media screen and (max-width: 768px) {



    }

</style>




<!--
<div class="container-fluid" style="padding: 10%; padding-bottom: 0;">

    <div class="row justify-content-center">
        <h2>{{ court.name }}</h2>
    </div>

    <div class="row justify-content-center">
        <a href=" http://maps.google.com/?q={{court.adress}}" target="_blank"><h3>Directions</h3></a>
    </div>

</div>


{% if court.occupied %}

    <div class="container-fluid" style="padding: 5%;">

        <div class="row justify-content-center">

            <h1 id="time-left"></h1>

        </div>

        <div class="row justify-content-center" style="padding-top: 3%;">
            <h3 id="date-left">{{ court.booked }}</h3>
        </div>

    </div>


    <script>



        var timestamp = parseInt("{{ court.get_unix }}")*1000; //Time in miliseconds
        var booked_time = new Date(timestamp);
        console.log(timestamp)
        console.log(booked_time)

        var local_date = new Date(booked_time.getTime());
        $("#date-left").text(local_date.toString());



        var x = setInterval(function() {

            var now = new Date().getTime();
            var countdown = parseInt((booked_time - now)/1000);

            console.log(countdown)
            if(countdown < 1){
                $("#time-left").text("Not Currently in Play 🙌")
                $("#date-left").text("")
                console.log("done!")
                clearInterval(x)
            }


            var minutes = Math.floor(countdown/60);
            countdown -= minutes*60;
            var seconds = Math.floor(countdown)
            
            if(seconds < 10){
                seconds = "0"+String(seconds);
            }

            if(minutes < 10){
                minutes = "0"+String(minutes);

            }

            $("#time-left").text(String(minutes)+" : "+String(seconds))





        }, 1000)






    </script>



{% else %}

<div class="container-fluid" style="padding: 5%;">

    <div class="row justify-content-center">

        <h3>Not Currently in Play 🙌</h3>

    </div>

</div>

   
{% endif %}
-->


{% endblock %}