{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="centered">
        <div class="input-section">
            {% if court.occupied %}
                <h1>Court already in play.</h1>
                <a href="{% url 'home' %}">Find an empty one</a>
            {% else %}
                <h1>How long will you be playing at {{court.name}}?</h1>
                <h2><span id="selected-time"></span> mins</h2>
                <input type="range" min="15" max="{{ court.maxtime }}" value="30" step="5" id="time-selector">
                <input type="submit" id="submit-time">
            {% endif %}
        </div>

        <div class="success-section" style="display: none;">
            <h1>Thanks for your input! 😊</h1>
        </div>

        <div class="error-section" style="display: none;">
            <h1>Whoops something went wrong. 😔</h1>
        </div>

    </div>


    <script>
        let API_URL = "{% url 'cclaim_api' court.slug %}";

        const setTime = (val) => {
            $('#selected-time').text(val);
        }
        setTime(30);

        $('#time-selector').on('input', function () {
            setTime(this.value);
        });

        $('#submit-time').click(function() {
            console.log("test")
            let time = $('#time-selector')[0].value;
            $.ajax({
                type: "POST",
                url: API_URL,
                data: {time},
                success: function(){
                    console.log("success")
                    $(".input-section").hide();
                    $(".success-section").show();
                },
                error: function(){
                    $(".input-section").hide();
                    $(".error-section").show();
                }
            });
        });

    </script>

    <style>

        .input-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #time-selector{
            width: 200px;
        }

        #submit-time{
            font-size: 2rem;
            margin: 30px;
            font-family: inherit;
            color: inherit;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
        }

    </style>

    <!--
        <div class="container-fluid page">



                <div id="user-input">

                    <div class="row justify-content-center" style="padding: 20%;">

                        {% if not court.occupied %}
                    
                        <h1>Are you playing at {{court.name}}?</h1>
                
                        <div class="row justify-content-center">
                            <input id="time" type="number" max="{{ court.maxtime }}" value="60" inputmode="numeric" title="max time: {{ court.maxtime }}">
                        </div>

                        <div class="row justify-content-center">
                            <button id="book-button">Confirm!</button>
                        </div>
                
                        {% else %}

                        <h1>Whoops, this court is already in play!</h1>
                        <div class="row justify-content-center">
                            <a>Find an empty one</a>
                        </div>
                        {% endif %}
        
                    </div>

                </div>

        </div>




        <div id="success">
            <div class="row justify-content-center" style="padding: 20%;">

                <h1>Thanks for your input! 😊</h1>

            </div>

            <div class="row justify-content-center">
                <a href="{% url 'about' %}">What's dontwait?</a>
            </div>

        </div>

    <script>
    
        const http = new XMLHttpRequest();
        const url = window.location.origin + "{% url 'cclaim_api' court.slug %}";
        console.log(url);


        $('#book-button').click(function(){

            const time = $("#time").val()

            $.post(url,
                {
                    "time":time
                },
                function(data, status, xhr) {
                    console.log(status)
                    console.log(data.status)

                    if(data.status == 200){
                        $("#user-input").replaceWith($("#success"))
                        $("#success").show()
                    }

                }
            )

        });




    </script>


    <style>

        #success{
            display: none;
        }



    </style>
    -->


{% endblock %}